.header {
  margin: 0 auto;
  border-bottom: 1px solid #545454;
  max-width: 880px;
  width: 100%;
  padding: 40px;
}
.header__logo {
  max-width: 173px;
  width: 100%;
  
}
 
@media screen and (max-width: 640px) {
  .header {
    max-width: 640px;
    width: 100%;
  
    padding: 28px;
    }
    .header__logo {
      width: 126px;
    }
  }
   
@media screen and (max-width: 320px) {
  .header{
    max-width: 320px;
    width: 100%;
    
    padding: 28px;
    }
    .header__logo {
      width: 126px;
    }
  
}