@import url(./vendor/normalize.css);
@import url(./blocks/header.css);
@import url(./blocks/container.css);
@import url(./blocks/popup.css);
@import url(./blocks/globals.css);
@import url(./blocks/page.css);
@import url(./vendor/fonts.css);
@import url(./blocks/profile.css);
@import url(./blocks/elements.css);
@import url(./blocks/button.css);
@import url(./blocks/footer.css);